*.pyc
*.svn-base
*.*~
*.exe
*.tgz
**/.settings
**/.ipynb_checkpoints/**
**/.svn/**
dist/
.project
.pydevproject
.dropbox
.directory
**/.DS_Store
**docs/*.dat
**data/d1
**data/d2
**data/d3
**pySSN.egg-info/*
**/fortran/data/*
**/res/**
**/ions_rec.dat
**/outputcond.dat
**/phyat.old
**/liste_phyat_coll.dat
**/liste_phyat_rec.dat
pySSN.egg-info/**